@using NTR20Z.Models
@using NTR20Z.Controllers
    

@model Reader   


@{
    ViewData["Title"] = "Dodawanie aktywności";
}

@{
    int[] slots = new int[40];

    for(int i = 0; i < 40; i ++)
        slots[i] = i+1;
}

<div class="text-center">
    <h1 class="display-4">Witaj w panelu dodawania aktywności</h1>
    
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    
    
    /*@Html.DropDownListFor(model=>model.newActivity.room, new SelectList(Model.availableRooms), "Select Room", 
    new {htmlAtributes = new {@class = "form-control"}})
    @Html.DropDownListFor(model=>model.newActivity.group, new SelectList(Model.groups), "Select Group",
    new {htmlAtributes = new {@class = "form-control"}})
    @Html.DropDownListFor(model=>model.newActivity.subject, new SelectList(Model.subjects), "Select Subject",
    new {htmlAtributes = new {@class = "form-control"}})
    @Html.DropDownListFor(model=>model.newActivity.teacher, new SelectList(Model.teachers), "Select Teacher",
    new {htmlAtributes = new {@class = "form-control"}})*/
    @Html.DropDownListFor(Model=>Model.newActivity.slot, new SelectList(slots), "Select Slot",
    new {htmlAtributes = new {@class = "form-control"}})
    
    
    <button type="submit" class="btn btn-primary">Edit</button>
    //<button class= "btn btn-primary" onclick=" location.href = '@Url.Action("AddActivityBis", "Home", new{index = Model.newActivity.slot })'">Edit</button> 

}